<app-child [x] = "signUp"></app-child>
<app-child2 (childData) = " printChildData($event)"></app-child2>

<!-- <!DOCTYPE html>
<html>
<head>
    <title>Sam's Class</title>
</head> -->
<!-- <body> -->
    <div>
    <label form="">First Name: </label>
    <input type="text" [(ngModel)]="signUp.firstName" name = 'firstName'>
    <!-- {{ firstName }} -->
    <label form="">last Name: </label>
    <input type="text" [(ngModel)]="signUp.lastName" name = 'lastName'>
    </div>
    <div>
    <label form="">User Name: </label>
    <input type="text" [(ngModel)]="signUp.userName" name = 'userName'>
    </div>
    <div>
    <label form="">Age: </label>
    <input type="text" [(ngModel)]="signUp.age" name = 'age'>
    </div>
    <div>
    <label form="">Email ID: </label>
    <input type="text" [(ngModel)]="signUp.emailId" name = 'emailId'>
    </div>
    <div>
    <label form="">Phone Number: </label>
    <input type="text" [(ngModel)]="signUp.phoneNo" name = 'phoneNo'>
    </div>
    <div>
    <label form="">Address: </label>
    <input type="text" [(ngModel)]="signUp.address" name = 'address'>
    </div>
    <div>
    <label form="">City: </label>
    <input type="text" [(ngModel)]="signUp.city" name = 'city'>
    </div>
    <div>
    <label form="">State: </label>
    <input type="text" [(ngModel)]="signUp.state" name = 'state'>
    </div>
    <div>
    <label form="">Country: </label>
    <input type="text" [(ngModel)]="signUp.country" name = 'country'>
    </div>
    <div></div>
    <div>
        <button (click) = printData()>Print</button>
    </div>
    <div>
        <button (click) = plus()> + </button>
        <input type="number" [(ngModel)] = "num" name = 'number'>
        <button (click) = minus()> - </button>
    </div>
    <div>
    {{ num }}
</div>
<div>
    <br>
</div>
<div>
        <button (click) = "showData()" *ngIf="!showHide"> Show Data </button>
        <button (click) = "hideData()" *ngIf="showHide"> Hide Data </button>
<div *ngIf="array.length > 0">
    <table>
        <thead>
            <tr>
                <th> S. No</th>
                <th> Name </th>
                <th> No. </th>
            </tr>
        </thead>
            <tbody>
                <tr *ngFor="let x of arrayobj; let i = index">
                    <td> {{ i + 1 }} </td>
                    <td> {{ x.name }} </td>
                    <td> {{ x.num }} </td>
                </tr>
            </tbody>
    </table>
    </div>
</div>
<!-- </body> -->
<!-- </html> -->

