<!-- <p>child2 works!</p> -->

<table>
    <thead>
        <tr>
        <th> S.No </th>
        <th> Value </th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of num; let i = index">
    <td>{{ i+1 }}</td>
    <td>{{ item }}</td>
    <td>
        <button (click) = "selectedData(item)"> Select </button>
    </td>
    </tr>
</tbody>
</table>